$bg: #212223;
$fg: #f1f1f1;
$accent: #a4f737;
$radius: 6px;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    button {
        all: unset;
        background-color: transparent;
//         margin: 5px 0;

        &:hover label {
            background-color: transparentize($fg, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active label {
            background-color: transparentize($fg, 0.8)
        }
    }

    label {
        transition: 400ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius - 2;
        border: 1pt solid transparent;
    }

    .Workspaces {
        background-color: #404040;
        margin: 5px;
        padding: 2px;
        border-radius: $radius;

        & .focused label {
            color: $accent;
            border-color: $accent;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Time {
        background-color: #404040;
        margin: 5px;
        padding: 2px 8px;
        border-radius: $radius;

        &:hover label {
            background-color: #505050;
        }
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        margin: 0 1em;

        trough {
            background-color: transparentize($fg, 0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }
}

.Notification {
    background-color: transparent;
    margin: 3px;
}

.Notification > box {
    background-color: $bg;
    border-radius: $radius;
    padding: 0 0 0 6px;
    border: 1px solid #A6E3A1;
    margin: 2px;

    & > box {
        padding: 10px 6px;
    }

    & label {
        color: #A6E3A1;
        margin-right: 10px;
    }

    & button {
        background-color: #A6E3A1;
        border-radius: 0 $radius - 2 $radius - 2 0;
        color: #000000;
        font-size: 22px;
    }

    & button:hover {
        background-color: #87f47c;
    }

    & separator {
        background-color: #acc1aa4d;
    }

}
